$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//****************//
// Colors         //
//****************//

$bg: #584375;
$ui: #666;
$ui-font: #999;
$ui-font-shadow: #777;
$ui-red: #6a3a3a;
$ui-font-red: #fa6a6a;
$ui-font-shadow-red: #aa6a6a;
$ui-blue: #3a3a6a;
$ui-font-blue: #6a6afa;
$ui-font-shadow-blue: #6a6aaa;

//****************//
// Page Styles    //
//****************//

html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $bg;
}

.layout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;

    height: 100%;
    width: 100%;
}

.red-team {
    color: $ui-font-red;
}

.blue-team {
    color: $ui-font-blue;
}

//****************//
// Header Styles  //
//****************//

.header {
    flex: 0 1 auto;

    background: $ui;
    z-index: 1000;
    color: $ui-font;
    text-shadow: 1px 1px 0px $ui-font-shadow;
    border-bottom: solid 2px $ui-font-shadow;
}

.header-red {
    background: $ui-red;
    color: $ui-font-red;
    text-shadow: 1px 1px 0px $ui-font-shadow-red;
    border-bottom: solid 2px $ui-font-shadow-red;
}

.header-blue {
    background: $ui-blue;
    color: $ui-font-blue;
    text-shadow: 1px 1px 0px $ui-font-shadow-blue;
    border-bottom: solid 2px $ui-font-shadow-blue;
}

.header-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-right: 10px;
    margin-left: 10px;

    h2 {
        margin: 5px 0px 5px 0px;
    }
}

.app {
    @extend .text-left;
    flex: 0 1 auto;

    width: 33%;
}

.timer {
    @extend .text-center;
    flex: 0 1 auto;

    width: 33%;
}

.settings {
    @extend .text-right;
    flex: 0 1 auto;

    h2{height: 33px;}

    width: 33%;
}

.pause, .pause:hover {
    color: $ui-font;
    text-shadow: 1px 1px 0px $ui-font-shadow;
}

.pause-red, .pause-red:hover {
    color: $ui-font-red;
    text-shadow: 1px 1px 0px $ui-font-shadow-red;
}

.pause-blue, .pause-blue:hover {
    color: $ui-font-blue;
    text-shadow: 1px 1px 0px $ui-font-shadow-blue;
}

//****************//
// Main Styles    //
//****************//

.main {
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-self: stretch;

    position: relative;
    overflow: hidden;
}

.card-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 10;
}

//****************//
// Footer Styles  //
//****************//

.footer {
    flex: 0 1 auto;
    background: #666;
    z-index: 1000;
    color: $ui-font;
    border-top: solid 2px $ui-font-shadow;
}

.footer-red {
    background: $ui-red;
    color: $ui-font-red;
    border-top: solid 2px $ui-font-shadow-red;
}

.footer-blue {
    background: $ui-blue;
    color: $ui-font-blue;
    border-top: solid 2px $ui-font-shadow-blue;
}

.footer-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;

    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-text {
    flex: 0 1 auto;
}

.pass {
    flex-grow: 1;
    padding-left: 4px;
    padding-right: 2px;
}

.pass .btn {
text-shadow: 1px 1px 0px $ui-font-shadow;
}

.fail {
    flex-grow: 1;
    padding-left: 2px;
    padding-right: 4px;
}

.fail .btn {
    text-shadow: 1px 1px 0px $ui-font-shadow;
}

//****************//
// Emoji Styles   //
//****************//

.emoji-one {
    position: absolute;
    width: 200px;
    height: 200px;
}

.emoji-container {
    position: absolute;
    top: 0;
    left: 0;
}

//****************//
// Menu Styles    //
//****************//

.menu {
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 1px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding: 5%;
}

.menu-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.menu-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1 {
        margin-bottom: 0px;
    }
    h2 {
        margin-top: 10px;
    }
}

.menu-middle {
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
}

.menu-bottom {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
}

.intro-middle, intro-bottom {
    text-align: left;
}

//****************//
// Card Styles    //
//****************//

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 1px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.card-section {
    flex-grow: 1;
    height: 33%;
}

.card-top {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.card-middle {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.card-bottom {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
}

.title {
    @extend .text-center;
    margin: auto;
    width: 80%;
    font-family: 'Asap', sans-serif;
    font-weight: 700;
}

.clue {
    @extend .text-left;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    font-family: 'Asap', sans-serif;
    font-weight: 400;
}

.line {
    width: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-top: dotted 4px #ccc;
}

.category {
    @extend .text-center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    letter-spacing: 4px;
    color: #50b595;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
}

.points {
    @extend .text-center;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 50% 50% 0 0;
    background: #50b595;
    color: white;
    p {
        letter-spacing: 2px;
        font-family: 'Asap', sans-serif;
        font-weight: 500;
        margin-bottom: 0px;
    }
}
